:root {
    --main-bg-color: #e9e9e9;
    --nav-bar-color: #2C2C2C;
    --font-color: rgb(12, 12, 12);
    --nav-bar-text: #fff;
    --footer-font-color: rgb(114, 114, 114);
    --accent-color: #133a7c;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

body {
    background-color: var(--main-bg-color);
    max-width: 100vw;
}

main {
    padding: 0 10px 0 10px;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* defines the sizing of each element with a class of section
   Also sets each section to be a flex container.
*/

#about-me {
    padding-top: 4rem;
}

#about-me > nav {
    width: 100vw;
    min-height: 4rem;
    background-color: var(--nav-bar-color);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    z-index: 10;
}

.nav-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > div > a {
    color: var(--nav-bar-text);
    text-decoration: none;
    grid-column: 2;
    max-width: 100px;
    height: 75%;
    padding: 0 10px;
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 2px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me > nav > div > a:active {
    background-color: #8f8e8e15;
    color: var(--font-color);
    transform: scale(1.1);
}

h1 {
    font-size: 3.5rem;
    padding: 20px 0;
    color: var(--font-color);
}

h2 {
    font-size: 2.5rem;
    color: var(--font-color);
}

#about-me-content {
    height: 100%;
    text-align: center;
}

#about-me p {
    font-size: 1.2rem;
    margin: 40px 10px 0px 10px;
}

#about-me .evan-front-page-image {
    aspect-ratio: 16 / 9;
    max-height: 200px;
    border-radius: 20px;
    margin: 20px 0 40px 0;
    box-shadow: 
        -4px -4px 10px rgba(255, 255, 255, 0.6),
        3px 3px 4px gray;
}


.selling-point-list {
    flex: 1; /* This make the list fill up the whole parent element.*/
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

#how-it-works > ul > li {
    font-size: 1.5rem;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.selling-point-list .person-logo::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-image: url('IMAGES/Person-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.selling-point-list .car-logo::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background-image: url('IMAGES/car-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.selling-point-list .wheel-logo::before {
    content: "";
    position: absolute;
    left: 80px;
    top: 16px;
    width: 40px;
    height: 40px;
    background-image: url('IMAGES/steering-wheel-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#how-it-works > ul > li > p {
    font-size: 1rem;
    text-align: left;
    padding: 10px 10px 0 10px;
}

#reviews h2:nth-of-type(1) {
    margin-bottom: 45px;
}

.scrolling-images {
    max-height: 50vh;
    max-width: 85%;
    border: 5px solid var(--nav-bar-color);
    display: flex;
    overflow-x: auto;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: var(--nav-bar-color);
}

.scrolling-images::-webkit-scrollbar {
    display: none;
}

.scrolling-images img {
    width: 100%;
    scroll-snap-align: center;
    animation: 10s ease-in-out infinite slide-over;
    object-fit: cover;
}

@keyframes slide-over {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(-60px, 0px);
    }
    32% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.reviews-button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border-radius: 60px;
    background-color: var(--accent-color);
    color: var(--nav-bar-text);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px var(--nav-bar-color);
    transition: background-color 0.1s ease-in-out;
}

.reviews-button:active {
    background-color: rgb(8, 21, 52);
    color: rgba(255, 255, 255, 0.5);
}

.footer-container {
    width: 100%;
    min-height: 20vh;
    background-color: var(--nav-bar-color);
    color: var(--footer-font-color);
}

.page-links  a {
    display: block;
}

/* Anything past here is for the reviews page */

.reviews-heading {
    text-align: center;
    background-image: linear-gradient(90deg, rgb(0, 195, 255), rgb(0, 21, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.reviews-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reviews-elements-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.reviews-elements-container img {
    aspect-ratio: 16 / 9;
    height: clamp(100px, 50%, 700px);
    width: clamp(100px, 95%, 1000px);
    border-radius: 20px;
    margin: 20px 0 40px 0;
    box-shadow: 
        -4px -4px 10px rgba(255, 255, 255, 0.6),
        3px 3px 4px gray;
    object-fit: cover;
    
}